<section class = "section">
  <div class="box">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="container">
            <h1 class = "title"><%= milestone.title %></h1><br>
            <h2 class = "subtitle"><%= milestone.due_date %></h2>
          </div>
        </div>
        <div class="level-item">
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= link_to edit_goal_milestone_path(@goal, milestone) do %>
            <span class="icon">
              <%= fa_icon "edit"%>
            </span>
          <% end %>
        </div>
        <div class="level-item">
          <%= link_to goal_milestone_path(@goal, milestone), method: :delete, confirm: "Are You Sure?" do %>
            <span class="icon">
              <%= fa_icon "trash"%>
            </span>
          <% end %>
        </div>
      </div>
  </div>
  </div>
</section>
<section class = "section">
  <%= render partial: 'tasks/task', collection: milestone.tasks %>
</section>