<h1> Edit Comment </h1>
<%= form_for [@goal, @milestone] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :due_date %>
    <%= f.date_field :due_date %>


    <%= f.submit "Update Milestone", class: "btn btn-primary"%>
<% end %>