<%= form_for [@milestone, @task] do |f|%>
    <!-- Body -->
    <div class= "field">
        <%= f.label :body, class: "label"%>
        <div class= "control">
            <%= f.text_field :body, class: "input"%>
        </div>
    </div>

    <%= f.hidden_field :milestone_id, value: @milestone%>

    <!-- Submit -->
    <div class= "field">
        <%= f.submit "Submit", class: "button is-success"%>
        <%= link_to @milestone do %>
            <button class= "button is-text">Cancel</button>
        <% end %>
    </div>


<% end %>