<li>
  <%= task.body %> -
  <small>Submitted <%= time_ago_in_words(task.created_at) %> ago</small>

  <%= form_for [@task, Task.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a Reply" %><br/>
      <%= f.submit "Reply"  %>
      <% end %>

  <ul>
      <%= render partial: 'tasks/task', collection: task.tasks %>
  </ul>

</li>