<h1> New Goal </h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@goal) do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title %>
            
            <%= f.label :daily_action %>
            <%= f.text_field :daily_action %>

            <%= f.label :due_date %>
            <%= f.date_field :due_date %>

            <%= f.submit "Create Goal", class: "btn btn-primary"%>
        <% end %>
    </div>
</div>