<!-- Hero Section -->
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @goal.title %>
      </h1>
      <h2 class="subtitle">
        <%= @goal.daily_action %>
        <%= link_to edit_goal_path(@goal) do%>
        <span class="icon">
          <%= fa_icon "edit"%>
        </span>
        <% end %>
      </h2>
        <div class="container">
            <%= link_to new_goal_milestone_path(@goal) do%>
                <span class = "icon">
                <%= fa_icon "plus-circle"%>
                </span>
                Add a Milestone
            <% end %>
        </div>
    </div>
  </div>
</section>

<br>

<!-- Render Milestones and Tasks -->
<%= render(partial: 'milestones/milestone', collection: @goal.milestones) %>
<div id = "add-milestone">
  <%= link_to new_goal_milestone_path(@goal) do %>
  <i class = "glyphicon glyphicon-plus" ></i>
  <% end %>
</div>